<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Barber Shop</title>
  </head>
  <body>
    <header>
      <h1>This is secret place</h1>
    </header>
    <small>Visiters:</small>
    <p><a href="/users.txt">See visit data</a></p>
    <br>
    <br>
    <small>User contacts:</small>
    <p><a href="/contacts.txt">See contacts data</a></p>
  </body>
</html>
